@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,600&display=swap');

.guide-container{
    background: rgb(243, 243, 243);
    padding: 20px;
}

.post-title{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: 600;
}

p{
    line-height: 2rem;
    margin-bottom: 1rem;
}
.post-desc{
    font-style: italic;
}
