.search-wrapper{
    max-width: 972px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
}
.article-wrapper-s{
    /* display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr)); */
}

.nope {
    display: flex;
    justify-content: center;
    align-items: center;
}